body {
    margin: 0;
    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    width: 98%;
    height: 100%;
}

header {
    background-color: red;
    height: 50px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;

}

.logo {

}

nav {
    display: flex;

    align-items: center;
    justify-content: space-between;
    width: 250px;
    margin-right: 15px;
}

.nav-search {
    display: flex;
    align-items: center;
}

.nav-search input {
    height: 30px;
    width: 400px;
    padding: 5px;
    border-radius: 50px;
    border: solid 1px rgba(112, 112, 112, 0.767);
    background-color: rgb(0,0,0, 0.3);

}

.sidebar {
    width: 400px;
    height: 100vh;
    background-color: aqua;
}

.wraper {
    width: 100%;
    
}

