body {
    background-color: rgb(59, 59, 61);
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    
}

.container {
    width: 95%;
    height: 100%;
}

header {
    background-color: aqua;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
}

main {
    margin-top: 100px;
    background-color: aqua;
    width: 100%;
    height: 500px;
    border-radius: 15px;
}

footer {
    border-radius: 15px;
    margin-top: 150px;
    width: 100%;
    height: 200px;
    background-color: aqua;
}