body {
    background-color: rgb(54, 54, 189);
    color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 75%;
    height: 100%;
}

header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main {
    background-color: aqua;
    width: 100%;
    height: 500px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: aqua;
    
}